<div class="orderbox">
  <div class="dropdown">
    <button class="dropbtn" id ="order-button">Order by: <span id="current-order"> Date</span><span class="caret"></span></button>
    <div id="dropdown-orderbox" class="dropdown-content">
      <div class="order-list" data-order="Date">Date</div>
      <div class="order-list" data-order="Likes">Likes</div>
      <div class="order-list" data-order="Comments">Comments</div>
    </div>
  </div>
</div>
