<div class="orderbox">
  <div class="form-group">
    <label class="order-label" for="order-type">Order By:</label>
      <select id="order-type" name="order-type" class="form-control">
        <option value="date">Date</option>
        <option value="likes">Likes</option>
        <option value="comments">Comments</option>
      </select>
  </div>
</div>
