<div class="orderbox">
  <div class="form-group">
    <label class="orderlabel" for="orderType">Order By:</label>
      <select id="orderType" name="orderType" class="form-control">
        <option value="date">Date</option>
        <option value="likes">Likes</option>
        <option value="comments">Comments</option>
      </select>
  </div>
</div>
